body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}
header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    background-color: rgb(0, 132, 255);
    padding: 10px;
    
}
#title{
    text-align: left;
    padding-left: 20px;
}
textarea {
    margin: 20px;
    width: 90%;
    padding: 10px;
    height: 100px;
    border-radius: 5px;
    border-color: black;
    font-size: 16px;
}
button, td {
    height: 40px;
    width: 120px;
    margin: 5px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    -webkit-text-fill-color: rgb(17, 17, 17);
}
table {
    margin: 20px auto;
}
#tagged-output {
    width: 90%;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    min-height: 100px;
    font-size: 16px;
}
#word-box {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}
#word-list span {
    padding: 5px;
    cursor: pointer;
}
#word-list span.selected {
    background-color: yellow;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding: 20px 20px;
    position: relative;
    color: white;
    margin-right: 15px;
}
#navbar li a{
    text-decoration: none;
    color: white;
    background-color:rgb(0, 132, 255);
    padding: 15px;
    border-radius: 7px;
}
#navbar li:hover{
    cursor:pointer;
    border-color: black;
}
.highlight {
    background-color: yellow;
    color: black;
}
.clickable-words-container {
    border: 1px solid #ccc;
    padding: 10px;
    height: 150px;
    overflow-y: scroll;
    margin-top: 10px;
}
.word-span {
    margin: 0 5px;
    cursor: pointer;
}
.word-span.highlight {
    background-color: yellow;
}
#gtn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.noun-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

.clickable-noun {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
